

.gallery_simple
  - photos_from("home/3x2").each_with_index do |photo, idx|
    %img{ class: "pos#{idx}", src: "/img/home/3x2/#{photo}" }

.column_right
  .gallery_one
    - photos_from("home/1x1").each_with_index do |photo, idx|
      %img{ class: "pos#{idx}", src: "/img/home/1x1/#{photo}" }
  .gallery_one
    - photos_from("home/1x1").each_with_index do |photo, idx|
      %img{ class: "pos#{idx}", src: "/img/home/1x1/#{photo}" }

.clear

.boxes
  .gallery_two
    - photos_from("home/1x1").each_with_index do |photo, idx|
      %img{ class: "pos#{idx}", src: "/img/home/1x1/#{photo}" }
  .gallery_two
    - photos_from("home/1x1").each_with_index do |photo, idx|
      %img{ class: "pos#{idx}", src: "/img/home/1x1/#{photo}" }
  .gallery_two
    - photos_from("home/1x1").each_with_index do |photo, idx|
      %img{ class: "pos#{idx}", src: "/img/home/1x1/#{photo}" }
  .gallery_two
    - photos_from("home/1x1").each_with_index do |photo, idx|
      %img{ class: "pos#{idx}", src: "/img/home/1x1/#{photo}" }
  .clear

  .column_left
    .gallery_one_left
      - photos_from("home/1x2").each_with_index do |photo, idx|
        %img{ class: "pos#{idx}", src: "/img/home/1x2/#{photo}" }
  %img{ src: "/img/home/1x1/2.png" }
  %img{ src: "/img/home/1x1/1.png" }
  %img{ src: "/img/home/1x1/3.png" }
  .clear
%img.full{ src: "/img/home/3x2/1.png" }
.boxes
  %img{ src: "/img/home/1x1/3.png" }
  %img{ src: "/img/home/1x1/2.png" }
  %img{ src: "/img/home/1x1/1.png" }
  %img{ src: "/img/home/1x1/3.png" }